.weather-current {
  .card-header {
    text-align: center;
  }
  .card-body {
    padding: 0rem;
    text-align: center;
  }
  .card-title{
    font-size: 2.5rem;
  }
  .card-text{
    font-size: 1.25rem;
  }
}